
:root {
    --green-dark: #1a463b; 
    --green-medium: #1f4e40; 
    --green-light: #b4e7df; 
    --white: #FFFFFF;
    --text-color: #F0F0F0; 
    --text-placeholder: #00ffc3; 
}


body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--green-dark);
    text-align: center;

}


.login-container {
    width: 90%;
    max-width: 350px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-area {
    margin-bottom: 0.5px;
}


.main-logo-image {
    width: 250px; 
    height: auto;
    margin-bottom: 0.5px; 
}


.logo-area h1 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 5px;
    margin-top: 0; 
    margin-bottom: 30px; 
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 50px; 
    background-color: var(--green-medium);
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    box-sizing: border-box; 
}

.login-form input::placeholder {
    color: var(--text-placeholder);
    opacity: 0.8;
}


.login-button {
    background-color: var(--green-light); 
    color: var(--green-dark); 
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 5px; 
    transition: background-color 0.5s;
}

.login-button:hover {
    background-color: var(--white);
}
.login-container p {
      margin-top: 15px;
      color: #eee;
      font-size: 1.0rem;
    }

    .login-container a {
      color: #fff;
      text-decoration: inline;
    }

.signup-text {
    font-size: 12px;
    color: var(--text-color);
    margin-top: 30px;
}

.signup-text a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.4;
    
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
    
}
@media (max-aspect-radio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}